body {
  font-family: "Georgia", "sans-serif";
  margin: 40px;
  background: #fdcfef;
}

h1 {
  color: #030303;
}

input,
button {
  font-size: 1em;
  padding: 10px;
  margin: 5px 0;
  font-family: "Georgia", "sans-serif";
}

ul {
  list-style-type: none;
  padding: 0;
}

.habit-item {
  background: #fff;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.done {
  color: green;
  font-weight: bold;
}